*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-title-items{
    text-align: center;
    margin-bottom: 45px;
}
.section-title-items h2{
    font-size: 35px;
    font-weight: 700;
}

.section-title-items p{
    font-size: 18px;
    color: grey;
    font-style: italic;
}

/* Header start */
#header{
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.navbar-brand{
    font-size: 25px;
    font-weight: 600;
    font-family: Verdana, Tahoma, sans-serif;
    color: orange !important;
}


.nav-item .nav-link{
    font-size: 18px;
    font-weight: 500;
    margin-right: 5px;
    color: #fff !important;
}
/* header end */

/* Hero start */
#hero{
    position: relative;
}

.hero-image img{
    width:100%;
    height: 750px;
    object-fit: cover;
}

.hero-items{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50% , -50%);

    color: #fff;
}

.hero-items h1{
    font-style: italic;
}

.hero-items p{
    font-size: 60px;
    font-weight: 700;

    text-transform: uppercase;
    margin-bottom: 5px;
}

.hero-items a{
    padding: 15px 25px;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    margin-top: 20px;
}
/* Hero end */


/* service start */

#service{
    padding: 60px 0;
}

.service-items{
    padding: 30px 40px;
    text-align: center;
}

.service-items i{
    border-radius: 50%;
    padding: 30px;
    background-color:orange;
    color: #fff;
    font-size: 35px;
    margin-bottom: 15px;
}

.service-items h4{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.service-items p{

    color: grey;
    flex: 1 1 auto;
}
/* service end */

/* portfolio start */
#portfolio{
    padding: 60px 0;
}

.portfolio-items{
    text-align: center;
}

.portfolio-items img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 15px;
}

.portfolio-items p{
    font-style: italic;
    color: grey;
}
/* portfolio end */

/* Team start */
#team{
    padding: 60px 0;
}

.team-items{
    text-align: center;
}

.team-items .member-image{
    border: 2px solid black;
    border-radius: 50%;
}

.team-items .member-image img{
    object-fit: cover;
    /* width: 14rem;
    height: 14rem; */
    width: 100%;
    border-radius: 50%;
    
}

.team-items .member-name h4{

    margin-top: 10px;
}

.team-items .member-work p{
    color: gray;
}



.team-items .social-links i{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #212529;
    color: #fff;

    margin-right: 8px;
}


/* team end */